<settings>
<setting>
<h3>Cavern Dwellers</h3>
<p aid:pstyle="NoIndent">At the edges of civilization in the caves and tunnels below the old mountains of the world dwell all sorts of scheming, dangerous monsters. Some are wily and old, like the race of goblins scheming to burn villages and make off with livestock. Others are strange aberrations of nature like the stinking, trash-eating Otyugh. A word of caution, then, to those brave adventurers whose first foray into danger leads them into these dank and shadowy places; bad things live in the dark. Bad things with sharp teeth.</p>
</setting>
<setting>
<h3>Swamp Denizens</h3>
<p aid:pstyle="NoIndent">All things give way to rot in the end. Food spoils on the table, men’s minds go mad with age and disease. Even the world itself, when left untended and uncared for, can turn to black muck and stinking air. Things dwell in these parts of Dungeon World. Things gone just as a bad as the swirling filth that fills the swamps. In these cesspit lowlands, adventurers will find such creatures as the deadly-eyed basilisk or the famed, unkillable troll. You’ll need more than a dry pair of boots to survive these putrid fens. A sword would be a good start.</p>
</setting>
<setting>
<h3>Undead Legions</h3>
<p aid:pstyle="NoIndent">The sermons of mannish and dwarven gods would tell you that Death is the end of all. They say that once the mortal coil is unwound and a person takes their final breath that all is warmth and song and the white wings of angels. Not so. Not for all. For some, after life’s embrace loses its strength a darker power can take hold. Black magic rips the dead from the ground and gives them shambling unlife full of hate and hunger. Sorcery and witchcraft lend an ancient spell-smith the power to live forever in the husk of a Lich. There are bleak enchantments at play in shadowy corners all throughout Dungeon World. These creatures are the spawn of that fell magic.</p>
</setting>
<setting>
<h3>Dark Woods</h3>
<p aid:pstyle="NoIndent">It would not be a lie to say that there are trees that stand in the deepest groves of Dungeon World that have stood since before man or elf walked amidst their roots. It would be true, too, to say that these ancient trees have long lost the green leaves of spring. In the strands of the dark woods one finds, if one looks in the right place, sylvan monsters old and powerful. Here live the race of savage centaurs and the fey soul-stealing creatures of yore. Under the shadow of the ancient trees, wolf-men howl for blood. Hurry along the old forest road and light no fire for food or warmth for it’s said that flames offend the woods themselves. You wouldn’t want that, would you?</p>
</setting>
<setting>
<h3>Ravenous Hordes</h3>
<p aid:pstyle="NoIndent">“I’ve bested an orc in single combat,” they crow. “I’ve fought a gnoll and lived to the tell the tale.” Which is no small feat and yet, you know the truth of these boasts. Like vermin, spotting but one of these creatures speaks to a greater doom on the horizon. No orc travels alone. No slavering gnoll moves without his pack. You know that soon, the wardrums will sound and the walls will be besieged by the full fury of the warchief and his tusked berserkers. These are the monsters that will bring civilization, screaming and weeping, to its knees. Unless you can stop them. Best of luck.</p>
</setting>
<setting>
<h3>Twisted Experiments</h3>
<p aid:pstyle="NoIndent">For some who learn the arcane arts it’s not merely enough to be able to live for a thousand years or throw lightning bolts that can fry a man. Some aren’t quite satisfied with the power to speak to the dead or draw the angels down from heaven. Hubris calls on those cloaked-and-hooded “scientists” to make a strange and unholy life of their own. No mortal children, these. These are the brood of a mind gone foul with strange magic. In this setting you will find such nightmares as the chimera, dripping poison. Here, too, are the protector golems and mutant apes. All sorts of bad ideas await you in the fallen towers of the mad magicians of Dungeon World.</p>
</setting>
<setting>
<h3>Lower Depths</h3>
<p aid:pstyle="NoIndent">Ruins dot the countryside of Dungeon World. Old bastions of long-forgotten civilization fallen to decay, to monsters, or to the whim of a vengeful god. These ruins often cover a much more dangerous truth—catacombs and underground complexes lousy with traps and monsters. Gold, too. Which is why you’re here. Why you’re locked in mortal combat with a tribe of spiteful dark elves. Battling stone giants in caverns the size of whole countries. Maybe, though, you’re the noble souls who’ve travelled to the world’s heart to put an end to the Apocalypse Dragon—the beast who, it is said, will one day swallow the sun and kill us all. We appreciate it, really. We’ll all pray for you.</p>
</setting>
<setting>
<h3>Planar Powers</h3>
<p aid:pstyle="NoIndent">Sometimes, monsters do not come from Dungeon World at all. Beyond the mountains at the edge of the world or below the deepest seas, the sages and wise old priests say that there are gateways to the lands beyond. They speak of elysian fields; rivers of sweet wine and maidens dancing in fields of gold. They tell tales of the paradise of heavens to be found past the Planar Door. Tales tell, too, of the Thousandfold Hell. Of the swirling Elemental Vortex and the devils that wait for the stars to align so they can enter Dungeon World and wreak their bloody havoc. You must be curious to know if these tales are true? What will you see when the passage to the beyond is opened?</p>
</setting>
<setting>
<h3>Folk of the Realm</h3>
</settings>
